<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title th:text="${pageTitle}">Uplate</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            Uplate
        </div>
        <div class="card-body">
            <p class="text-muted mb-0">Stranica je u pripremi.</p>
        </div>
    </div>
</div>
</body>
</html>